<header ng-include="'webui/templateComune/header.html'"></header>
<div class="container">
<form name="registerForm" class="register">
    <div class="col-md-6 col-md-offset-3">
        <h2>Form Registrazione</h2>
            <div class="form-group" ng-class="{ 'has-error': registerForm.name.$dirty && registerForm.name.$error.required , 'valid': registerForm.name.$valid}">
                <label for="displayName">Username <span>*</span></label>
                <input type="text" name="name" id="name" class="form-control" ng-model="register.name" required  />
                <span ng-show="registerForm.name.$error.required" class="help-block">Inserire una username</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': registerForm.email.$dirty && (registerForm.email.$error.required || registerForm.email.$error.email) , 'valid': registerForm.email.$valid }">
                <label for="email">E-mail <span>*</span></label>
                <input type="email" name="email" id="email" class="form-control" ng-model="register.email" required />
                <span ng-show="registerForm.email.$pristine && registerForm.email.$error.required" class="help-block">Inserire una E-mail</span>
                <span ng-show="!registerForm.email.$pristine && registerForm.email.$dirty && registerForm.email.$error.email" class="help-block">Inserire una E-mail valida</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': registerForm.password.$dirty && registerForm.password.$error.required ,'valid': registerForm.password.$valid}">
                <label for="password">Password <span>*</span></label>
                <input type="password" name="password" id="password" class="form-control" ng-model="register.password" required />
                <span ng-show="registerForm.password.$error.required" class="help-block">Inserire una password</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': registerForm.password2.$dirty && registerForm.password2.$invalid ,'valid': registerForm.password2.$valid}">
                <label for="password">Verifica Password <span>*</span></label>
                <input type="password" name="password2" id="password2" class="form-control" ng-model="register.password2" required compare-to="register.password" />
                <span ng-show="registerForm.password2.$pristine && registerForm.password2.$error.required" class="help-block">Inserire una password</span>
                <span ng-show="registerForm.password2.$dirty && registerForm.password2.$invalid" class="help-block">Password diversa</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="registerForm.$invalid" ng-click="registrati()" class="btn btn-primary">Registrati</button>
                <a href="#/login" class="btn btn-link">Cancella</a>
            </div>
          </div>
        </form>
    </div>
<div ng-include="'webui/templateComune/footer.html'"></div>
