.home h1{font-size: 50px; text-align: center; color: burlywood;}
.btn-primary.active{margin-right: 10px; margin-bottom: 10px;}
.categoria{width: 100%;}
.ricerca{margin-top: 85px;}
.mappa{height:600px; box-shadow:0 3px 25px black; margin-right:-15px; position: static;}
.barraRicerca{margin-bottom: 40px;}
.tabellaInformazioni{cursor: pointer; border: 2px solid #29abe0; border-radius: 8px; margin-bottom:20px; padding-bottom: 20px; padding-top: 45px;}
.testoInformativo{font-size: 1.6em; margin-bottom: 15px;}
.posizione{text-align: center;}
.tabellaInformazioni b{font-family: "Lucida Grande", Tahoma; font-size: 1em; font-weight: lighter; font-variant: normal; text-transform: uppercase; color: #666666; margin-top: 10px; text-align: center!important; letter-spacing: 0.3em;}