.accordionPanel{cursor: pointer;}
.puntoDiInteresse{margin-top: 50px;}
h1{ font: bold 40px "Century Schoolbook", Georgia, Times, serif; color: #333; line-height: 90%; margin: .2em 0 .4em 0; letter-spacing: -2px; text-align: center;}
.spaziatore{height: 30px; border-style: solid; border-color: #8c8b8b; border-width: 1px 0 0 0; border-radius: 20px;}
.spaziatore:before{display: block; content: ""; height: 30px; margin-top: -31px; border-style: solid; border-color: #8c8b8b; border-width: 0 0 1px 0; border-radius: 20px; }
.glyphicon-trash{font-size: 35px;}
.elimina{margin-top: 10px;}