<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#/maps">Punti di interesse google</a></li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-if="!currentUser" href="#/login">Login</a></li>
                <li><a ng-if="currentUser" href="#/app">Benvenuto {{currentUser.displayName}}!</a></li>
                <li><a ng-if="currentUser" ng-controller="AppController as app" ng-click="app.logout()" style="cursor: pointer;">Esci</a></li>
            </ul>
        </div>
    </div>
</div>
<br clear="both" />
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>