<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left">
                <li><a ng-if="utenteLoggato" href="#/maps">Punti di interesse personali</a></li>
                <li><a href="#/home">Home</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-if="!utenteLoggato" href="#/login">Login</a></li>
                <li><a ng-if="utenteLoggato" >Benvenuto {{utenteLoggato.nome}}!</a></li>
                <li><a ng-if="utenteLoggato" ng-click="esci()" style="cursor: pointer;">Esci</a></li>
            </ul>
        </div>
    </div>
</div>
<br clear="both" />
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>